.invalidMail{
    border-color: red;
    height: 35%;
  }
  .validMail{
    border-color: black;
    height: 35%;
    
  }
  .validName{
    border-color: black;
    height: 30%;
  }
  .invalidName{
    border-color: red;
    height: 30%;
  }
  .validPass{
    border-color: black;
    height: 600%;
  }
  .invalidPass{
    border-color:red;
    height: 600%;
  }
.title{
  margin: auto;
  width: 20%;
  color:green;
  margin-left: 41%;
  margin-top: 5%;
  font-size:x-large

}
.name{
  margin: auto;
  width: 50%;
  height:20%;
  
}
.email{
  margin: auto;
  width: 50%;
  height: 15%;
  
}
.pass{
  margin: auto;
  width: 50%;
  height:1%;
  
}
.fonts{
  font-weight: bolder;
  font-size:large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loginbox{
  background-color:white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20%;
  height:60%;
}
.submit{
  margin-left: 10%;
  margin-top: 20%;
  width: 8em;
  height: 2em;  
  background-color: blue; 
 
  border: none;
  color:white;   
  font-size:1em;
  font-weight:700;

}


